<h2>Questions</h2>

<div>
  <a href="#" id="recent-filter">Most Recent</a>
  <a href="#" id="voted-filter">Best Voted</a>
  <a href="#" id="trending-filter">Trending</a>
</div>

<ol>
  <%= render @questions %>
</ol>
