<li class="comment">
  <p><%= comment.content %> </p>
  <div class="timestamp">Commented by <%= link_to comment.user.username, comment.user %> at <%= std_format_date(comment.created_at) %></div>
</li>
