<div class="answer">
  <h4>Posted by: <%= link_to answer.user.username, answer.user %></h4>
  <p><%= answer.content %></p>
  <%= render answer.comments %>

  <%= render 'comments/form', commentable: answer %>
</div>
