a:link {
  text-decoration: none;
  color: #345;
}
a:hover {
  color: #567;
}
a:visited {
  color: #345;
}
a:visited:hover{
  color: #567;
}

body {
  background-color: #575a5b;
  color: #225;
  font-family: Trebuchet, sans-serif;
}
h3, h4 {
  margin-top: 0;
}
fieldset {
  border-radius: 0.5em;
}
footer {
  font-weight: bold;
  text-align: center;
}
textarea {
  background-color: #EAEAF0;
  border: 0.125em inset #255;
  padding: 0.5em;
  margin: 0.25em;
  width: 90%;
}

li {
  list-style: none;
  border: 0.1375em inset #B75;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.125em auto;
}
ol {
  list-style: none;
  padding: 0;
}
ul {
  list-style: none;
}

nav form {
  display: none;
}

#best_answer {
  border-style: solid;
}

.container {
  background-color: #BCE;
  border: 0.5em outset #B75;
  border-radius: 0.5em;
  box-shadow: 0.25em 0.25em 0.25em #333;
  margin: 1em auto;
  padding: 1em;
  width: 70%;
}
.answer {
  background-color: #CDF;
  border-radius: 0.5em;
  padding: 1em;
  margin: 0.5em auto;
}
.comment {
  background-color: #BCE;
  font-size: 0.75em;
  margin-left: 2em;
  width: 90%;
}